# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\idopa\Documents\BGU\Semester 2\יסודות מבנה נתונים\עבודות בית - תשפ''א\4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
